body {
  /* background-image: url("../static/icons/ramen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: white;
  display: flex;
  text-align: center;
}

p {
  color: white;
}

.ramen-img img {
  top: 0;
  width: 100%;
}

.logo-img img {
  width: 130px;
}

.container {
  position: relative;
  text-align: center;
}

.header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  margin: 5px 5px;
}