.order_table {
  margin: 25px 0;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.food_pay {
  margin: auto;
  width: 150px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #264d32;
}

.totalAmount {
  margin-bottom: 10px;
}

.bottom_buttons {
  display: flex;
  flex-direction: column;
  width: 180px;

  position: fixed;
  bottom: 40px;

  left: 50%;
  margin-left: -90px;
}

.StripeCheckout {
  height: 45px;
  background: #264d32 !important;

  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.12) !important;
  border-radius: 30px !important;
}

.StripeCheckout span {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600;
  text-transform: uppercase !important;

  background-image: none !important;
  box-shadow: none !important;
}

#cashButton {
  background: #591303;
  height: 45px;
  border-radius: 30px !important;
  margin: 5px 0;
}

#menuButton {
  height: 45px;
  border-color: #264d32 !important;
  border-radius: 30px !important;
  margin: 5px 0;
  color: #264d32;
  font-weight: 600;
}
